.header {
  display: flex;
  flex-direction: column;
  background-color: #d5d5d5;
}

.info {
  align-self: flex-start;
}

.logo {
  width: 32px;
}


.name {

}

.role {

}

.actions {
  align-self: flex-end;
}

