@import "~globalStyles/common.scss";
@import "~globalStyles/html-elements/progress.scss";

$barBackgroundColor: white;
$barValueColor: lightblue;
$borderColor: lightgrey;
$borderRadius: 5px;

@include progressBackgroundBarStyles($barBackgroundColor, $borderColor, $borderRadius);
@include progressValueBarStyles($barValueColor, $borderRadius);

progress[value] {
  @include resetDefaultAppearance;
  width: 250px;
  height: 20px;
}
