.droppable {
  margin-top: 5px;
  border: 2px dashed #ccc;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  color: #ccc;
}

.icon {
  margin-top: auto;
  font-size: 10rem;
}

.text {
  margin-bottom: auto;
  margin-top: 20px;
  font-size: 1.2em;
}
