.dashboardItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border: none;
}

@media (max-width:1200px) {
  .dashboardItem {
    flex-basis: 50%;
  }
}

@media (max-width:768px) {
  .dashboardItem {
    flex-basis: 100%;
  }
}
